PORT=5000
MONGO_URL=mongodb://127.0.0.1:27017/ecommerce
#Github login
CLIENT_ID=f2b4d13e9113a017b62b
CLIENT_SECRET=2bf1a21b76f4182422d6a5d70db2f0256fa8ea34
#Mailer
EMAIL=lilikathe99@gmail.com
EMAIL_TOKEN=ypdigwguxiwzrfya