<link rel="stylesheet" href="/css/login.css" />

<div class="login-body">
  <div class="login-container">
    <div class="login-header">
      <h2>Restablecer contrasena</h2>
    </div>
    <form class="login-form" action="/auth/password-reset" method="post" id="form">
      <input
        type="text"
        name="email"
        placeholder="Correo Electrónico"
        id="email"
        required
      />
      <button class="login-button" type="submit">Continuar</button>
    </form>
    {{>loader}}
    <div class="alert alert-primary d-none" id="alert">
      Revisa tu correo para continuar.
    </div>
    <p class="login-link">¿Tienes una cuenta?
      <a href="/auth/login" class="login-link">Iniciar Sesion</a>
    </p>
  </div>
</div>

<script src="/js/reset-password.js"></script>