<link rel="stylesheet" href="/css/login.css" />

<div class="login-body">
  <div class="login-container">
    <div class="login-header">
      <h2>Recuperar contrasena</h2>
      <small>Usuario: {{user}}</small>
    </div>
    <form
      class="login-form"
      action="/auth/recovery-password"
      method="post"
      id="form-recovery"
    >
      <input
        type="password"
        name="email"
        placeholder="Nueva contraseña"
        id="password"
        required
      />
      <input
        type="password"
        name="re-password"
        id="re-password"
        placeholder="Confirmar contraseña"
        required
      />
      <button class="login-button" type="submit">Aceptar</button>
    </form>
    {{>loader}}
    <div class="alert d-none" id="alert">
    </div>
    <p class="login-link">¿Tienes una cuenta?
      <a href="/auth/login" class="login-link">Iniciar Sesion</a>
    </p>
  </div>
</div>

<script src="/js/reset-password.js"></script>