<link rel="stylesheet" href="/css/github-login.css" />

<button class="login-button-github" type="button" id="btn-github">
  {{#if isLogin}}
  Iniciar Sesión
  {{else}}
  Registrarse
  {{/if}}
  con Github
  <i class="fa-brands fa-github"></i>
</button>

<script src="/js/github-login.js"></script>