<link rel="stylesheet" href="/css/actions/products.actions.css" />
<div class="btn-stick" id="openModalBtn">
  <a href="#" class="btn">Agregar Producto</a>
</div>
<script src="/js/actions/products.actions.js"></script>